* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /*font-family: sans-serif;*/
    font-family: popRegular, Sans-Serif, serif;
}

@font-face {
    font-family: popMedium;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: popLight;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: popRegular;
    src: url("../fonts/Poppins-Regular.ttf");
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#banner-container {
    height: 571px;
}

#banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    height: 57px;
    background-color: #C0CDD6;
    background-image: linear-gradient(#f5f7fa 0%, #c3cfe2 100%);
    z-index: 2;
}

#nav-bar a {
    padding: 14px 42px 12px 42px;
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    outline: none;
    transition-duration: 0.3s;
}
#nav-bar a:hover {
    border-bottom: 2px solid #a22d37;
    color: #a22d37;
}


#nav-bar .nav-active {
    color: #a22d37;
    border-bottom: 2px solid #a22d37;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#content-container {
    border: solid black;
    margin:0 auto;
    width: 1303px;
    height: 100%;
}

.anime-listing {
    display: flex;
    flex-direction: column;
    background-size: cover;
    width: 372px;
    height: 505px;
    box-shadow: 0 0 27px -3px rgba(0, 0, 0, 0.41);
    border: 1px solid darkgray;
}

.pagination {
    align-self: center;
    width: 352px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #939393;
    float: left;
}

#footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    background-color: #6d6d6d;
}

#footer-container span {
    color: whitesmoke;
}

/*@media (max-width: 1920px) {*/
/*    #content-container {*/
/*        width: 1251px;*/
/*        height: 1266px;*/
/*    }*/
/*}*/

/*@media (max-width: 1440px) {*/
/*    #content-container {*/
/*        height: 1216px;*/
/*    }*/
/*}*/

/*@media (max-width: 800px) {*/
/*    #content-container {*/
/*        width: 769px;*/
/*        height: 1626px;*/
/*    }*/

/*    .anime-listing {*/
/*        width: 331px;*/
/*        height: 468px;*/
/*    }*/

/*    #banner-container {*/
/*        height: 417px;*/
/*    }*/
/*}*/

/*@media (max-width: 414px) {*/
/*    #content-container {*/
/*        width: 361px;*/
/*        height: 3192px;*/
/*    }*/

/*    #banner-container {*/
/*        height: 251px;*/
/*    }*/

/*    #nav-bar a {*/
/*        padding-left: 0;*/
/*        padding-right: 0;*/
/*        font-size: 17px;*/
/*    }*/
/*}*/