* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: sans-serif;*/
    font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: solid red;
}

#banner-container {
    display: flex;
    height: 120px;
    border: solid mediumpurple;
}


#nav-bar-container {
    height: 47px;
    border: solid darkorange;
}

#nav-bar {
    display: flex;
    flex-direction: row;

    align-items: baseline;
    list-style-type: none;
    border: solid cornflowerblue;
}

#nav-bar a {
    padding-left: 42px;
    padding-right: 42px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    border: solid yellow;
}

#nav-bar a:hover {
    color: #1abc9c;
    background-color: aqua;
}

#content-container {
    border: solid forestgreen;
    margin-left: 121px;
    margin-right: 121px;
    height: 100vh;
}